.top-bar {
}

h1.title {
	padding: 5px;
	margin: 5px;
}

.center-container {
	padding: 0;
	min-width: 800px;
}

.center-page-h {
	margin: 0 10%;
}

.rm-margin-top {
	margin-top: -10px;
}

.navbar {
	margin-bottom: 5px !important;
}

.error {
	color: red;
	background-color: white;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 10px;
	margin-top: 10px;
	padding: 5px;
}

.errorNorm {
	color:red;
}

img {
	max-width: 100%;
	min-width: 800px;
	height: auto;
}​

.image-container {
	position: relative;
}

.login-container {
	position: absolute;
	width: 350px;
	height: 85%;
	right: 0px;
	top: 0px;
	bottom: 0px;
	margin: auto;
	margin-right: 4%;
	background-color: #6C7B8E;
	z-index: 5;
	border: 1.5px solid #aaa;
	
}

.login-title-container {
	width: 100%;
	height: 30px;
	line-height: 30px;
	background-color: white;
}

.login-title-content-container {
	margin-left: 5px;
	font-size: 1.5em;
}

.login-content-container {
	padding: 10px;
	margin: 0 auto;
}